## Splitting multi delimiter row

In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("PySpark_Practice_06").getOrCreate()

In [6]:
from pyspark.sql.functions import current_timestamp, to_timestamp
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, BooleanType

In [7]:
data = [(1, "Abhishek", "10|30|40"),
        (2, "Krishna", "50|40|70"),
        (3, "rakesh", "20|70|90")]

In [8]:
schema = ["id", "name", "marks"]

In [9]:
df = spark.createDataFrame(data, schema)

In [10]:
df.show(truncate=False)

+---+--------+--------+
|id |name    |marks   |
+---+--------+--------+
|1  |Abhishek|10|30|40|
|2  |Krishna |50|40|70|
|3  |rakesh  |20|70|90|
+---+--------+--------+

In [11]:
from pyspark.sql.functions import split, col

In [12]:
df_s = df.withColumn("mark_details", split(col("marks"), "[|]")) \
        .withColumn("maths", col("mark_details")[0]) \
        .withColumn("physical", col("mark_details")[1]) \
        .withColumn("chemistry", col("mark_details")[2])

In [13]:
df_s.show(truncate=False)

+---+--------+--------+------------+-----+--------+---------+
|id |name    |marks   |mark_details|maths|physical|chemistry|
+---+--------+--------+------------+-----+--------+---------+
|1  |Abhishek|10|30|40|[10, 30, 40]|10   |30      |40       |
|2  |Krishna |50|40|70|[50, 40, 70]|50   |40      |70       |
|3  |rakesh  |20|70|90|[20, 70, 90]|20   |70      |90       |
+---+--------+--------+------------+-----+--------+---------+