## PySpark Join

In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("PySpark_Practice_08").getOrCreate()

In [6]:
from pyspark.sql.functions import current_timestamp, to_timestamp
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, BooleanType

In [7]:
data = [["1", "Saroj", "company 1"],
        ["2", "Nitya", "company 1"],
        ["3", "Abhishek", "company 2"],
        ["4", "Sandeep", "company 1"],
        ["5", "Rakesh", "company 1"]]

In [8]:
columns = ['ID', 'NAME', 'Company']

In [9]:
df = spark.createDataFrame(data, columns)

In [10]:
df.show(truncate=False)

+---+--------+---------+
|ID |NAME    |Company  |
+---+--------+---------+
|1  |Saroj   |company 1|
|2  |Nitya   |company 1|
|3  |Abhishek|company 2|
|4  |Sandeep |company 1|
|5  |Rakesh  |company 1|
+---+--------+---------+

In [11]:
data1 = [["1", "45000", "IT"],
["2", "145000", "Manager"],
["6", "45000", "HR"],
["5", "34000", "Sales"]]
columns1 = ['ID', 'salary', 'department']
df1 = spark.createDataFrame(data1, columns1)
df1.show(truncate=False)

+---+------+----------+
|ID |salary|department|
+---+------+----------+
|1  |45000 |IT        |
|2  |145000|Manager   |
|6  |45000 |HR        |
|5  |34000 |Sales     |
+---+------+----------+

# Inner Join

In [12]:
df.join(df1, df.ID == df1.ID, "inner").show()

+---+------+---------+---+------+----------+
| ID|  NAME|  Company| ID|salary|department|
+---+------+---------+---+------+----------+
|  1| Saroj|company 1|  1| 45000|        IT|
|  2| Nitya|company 1|  2|145000|   Manager|
|  5|Rakesh|company 1|  5| 34000|     Sales|
+---+------+---------+---+------+----------+

# Left Join

In [ ]:
df.join(df1, df.ID == df1.ID, "left").show()