## Drop duplicate record

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("PySpark_Practice_04").getOrCreate()

In [4]:
from pyspark.sql.functions import current_timestamp, to_timestamp
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, DateType, BooleanType

In [6]:
sampledata = ([1, "ramesh", 1000], 
               [2, "Krishna", 2000], 
               [3, "Shri", 3000], 
               [4, "Pradip",4000],
               [1, "ramesh", 1000], 
               [2, "Krishna", 2000], 
               [3, "Shri", 3000], 
               [4, "Pradip", 4000])

In [7]:
columns = ["id", "name", "salary"]

In [8]:
df = spark.createDataFrame(sampledata,columns)

In [9]:
df.show(truncate=False)

+---+-------+------+
|id |name   |salary|
+---+-------+------+
|1  |ramesh |1000  |
|2  |Krishna|2000  |
|3  |Shri   |3000  |
|4  |Pradip |4000  |
|1  |ramesh |1000  |
|2  |Krishna|2000  |
|3  |Shri   |3000  |
|4  |Pradip |4000  |
+---+-------+------+

In [10]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [11]:
df1 = df.distinct()
df1.show()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1| ramesh|  1000|
|  2|Krishna|  2000|
|  3|   Shri|  3000|
|  4| Pradip|  4000|
+---+-------+------+

In [12]:
df2 = df.dropDuplicates()
df2.show()

+---+-------+------+
| id|   name|salary|
+---+-------+------+
|  1| ramesh|  1000|
|  2|Krishna|  2000|
|  3|   Shri|  3000|
|  4| Pradip|  4000|
+---+-------+------+

In [13]:
df3 = df.select(["id", "name"]).distinct()
df3.show()

+---+-------+
| id|   name|
+---+-------+
|  1| ramesh|
|  2|Krishna|
|  3|   Shri|
|  4| Pradip|
+---+-------+