In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [(1, 'maheer', 'M', 2000),
       (2, 'Asif', 'F', 3000),
       (3, 'asi', 'F', 3000)]

schema = ["id", "name", "gender", "salary"]

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2|  Asif|     F|  3000|
|  3|   asi|     F|  3000|
+---+------+------+------+

### alias()

In [4]:
df.select(df.id.alias('emp_id'),
         df.name.alias('emp_name')).show()

+------+--------+
|emp_id|emp_name|
+------+--------+
|     1|  maheer|
|     2|    Asif|
|     3|     asi|
+------+--------+

### asc() & desc()

In [5]:
df.sort(df.name.desc()).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  3|   asi|     F|  3000|
|  2|  Asif|     F|  3000|
+---+------+------+------+

### cast()

In [6]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [7]:
df1 = df.select(df.salary.cast('int'))
df1.printSchema()

root
 |-- salary: integer (nullable = true)

### like()

In [8]:
df.filter(df.name.like('m%')).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
+---+------+------+------+