In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [(1, 'Maheer', 'male', 1000, None),
       (2, 'Asi', 'Female', 1000, 'IT'),
       (3, 'abcd', None, 1000, 'HR')]

schema = ['id', 'name', 'gender', 'salary', 'dep']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+----+
| id|  name|gender|salary| dep|
+---+------+------+------+----+
|  1|Maheer|  male|  1000|NULL|
|  2|   Asi|Female|  1000|  IT|
|  3|  abcd|  NULL|  1000|  HR|
+---+------+------+------+----+

In [4]:
dataRows = df.collect()

In [5]:
print(dataRows)

[Row(id=1, name='Maheer', gender='male', salary=1000, dep=None), Row(id=2, name='Asi', gender='Female', salary=1000, dep='IT'), Row(id=3, name='abcd', gender=None, salary=1000, dep='HR')]