In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [(1, 'Maheer', 2000),
       (2, 'wafa', 3000)]

schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [4]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [4]:
df.createOrReplaceTempView('empGlobal')

In [5]:
df1 = spark.sql('SELECT * FROM empGlobal')
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  2000|
|  2|  wafa|  3000|
+---+------+------+

In [6]:
df2 = spark.sql('SELECT id, UPPER(name) FROM empGlobal')
df2.show()

+---+-----------+
| id|upper(name)|
+---+-----------+
|  1|     MAHEER|
|  2|       WAFA|
+---+-----------+