In [2]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [3]:
from pyspark.sql.functions import when

In [4]:
data = [(1, 'maheer', 'M', 2000),
       (2, 'Asif', 'F', 3000),
       (3, 'asi', 'F', 3000)]

schema = ["id", "name", "gender", "salary"]

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2|  Asif|     F|  3000|
|  3|   asi|     F|  3000|
+---+------+------+------+

### filter()

In [5]:
df1 =df.where(df.gender=='M')

df1.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
+---+------+------+------+

In [7]:
df2 = df.filter(df.gender == 'F').show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  2|Asif|     F|  3000|
|  3| asi|     F|  3000|
+---+----+------+------+