In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [(1, 'maheer', 'M', 5000, 'IT'),
       (2, 'wafa', 'M', 6000, 'HR'),
       (3, 'asi', 'F', 2500, 'Payroll'),
       (4, 'sarfaraj', 'M', 4000, 'HR'),
       (5, 'pyairijaan', 'F', 2000, 'HR'),
       (6, 'Mahaboob', 'M', 2000, 'Payroll'),
       (7, 'ayesha', 'F', 3000, 'IT'),]

schema = ["id", "name", "gender", "salary", "dep"]

df1 = spark.createDataFrame(data, schema)

df1.show()

+---+----------+------+------+-------+
| id|      name|gender|salary|    dep|
+---+----------+------+------+-------+
|  1|    maheer|     M|  5000|     IT|
|  2|      wafa|     M|  6000|     HR|
|  3|       asi|     F|  2500|Payroll|
|  4|  sarfaraj|     M|  4000|     HR|
|  5|pyairijaan|     F|  2000|     HR|
|  6|  Mahaboob|     M|  2000|Payroll|
|  7|    ayesha|     F|  3000|     IT|
+---+----------+------+------+-------+

In [4]:
df1.groupBy('dep').count().show()

+-------+-----+
|    dep|count|
+-------+-----+
|     IT|    2|
|     HR|    3|
|Payroll|    2|
+-------+-----+

In [5]:
from pyspark.sql.functions import count, min, max

In [7]:
df1.groupBy('dep').agg(count('*').alias('countofEmps'),\
                min('salary').alias('minSal'), \
                max('salary').alias('maxSal')).show()

+-------+-----------+------+------+
|    dep|countofEmps|minSal|maxSal|
+-------+-----------+------+------+
|     IT|          2|  3000|  5000|
|     HR|          3|  2000|  6000|
|Payroll|          2|  2000|  2500|
+-------+-----------+------+------+