In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [(1, 'maheer', 'M', 2000, 'IT'),
       (2, 'wafa', 'M', 4000, 'HR'),
       (3, 'asi', 'F', 3000, 'Payroll'),
       (4, 'sarfaraj', 'M', 3000, 'HR'),]

schema = ["id", "name", "gender", "salary", "dep"]

df = spark.createDataFrame(data, schema)

df.show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

In [4]:
df.sort('dep', 'salary').show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
+---+--------+------+------+-------+

In [5]:
df.sort(df.dep.desc(), df.salary.desc()).show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  3|     asi|     F|  3000|Payroll|
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

In [6]:
df.orderBy(df.dep.desc(), df.salary.asc()).show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  3|     asi|     F|  3000|Payroll|
|  1|  maheer|     M|  2000|     IT|
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
+---+--------+------+------+-------+

In [7]:
df.orderBy('dep', 'salary').show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  4|sarfaraj|     M|  3000|     HR|
|  2|    wafa|     M|  4000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  3|     asi|     F|  3000|Payroll|
+---+--------+------+------+-------+