In [13]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [14]:
from pyspark.sql.functions import when

In [15]:
data = [(1, 'maheer', 'male', 'IT'),
        (2, 'wafa','male', 'IT'),
        (3, 'asi', 'female', 'HR'),
        (4, 'annu','female', 'IT'),
        (5, 'shakti','female', 'IT'),
        (6, 'pradeep','male', 'HR'),
        (7, 'sarfaraj','male', 'HR'),
        (8, 'ayesha','female', 'IT'),]

schema = ['id', 'name', 'gender', 'dep']


df = spark.createDataFrame(data, schema)

df.show()

+---+--------+------+---+
| id|    name|gender|dep|
+---+--------+------+---+
|  1|  maheer|  male| IT|
|  2|    wafa|  male| IT|
|  3|     asi|female| HR|
|  4|    annu|female| IT|
|  5|  shakti|female| IT|
|  6| pradeep|  male| HR|
|  7|sarfaraj|  male| HR|
|  8|  ayesha|female| IT|
+---+--------+------+---+

In [16]:
df.groupBy('dep').pivot('gender').count().show()

+---+------+----+
|dep|female|male|
+---+------+----+
| HR|     1|   2|
| IT|     3|   2|
+---+------+----+

In [17]:
df.groupBy('dep', 'gender').count().show()

+---+------+-----+
|dep|gender|count|
+---+------+-----+
| IT|  male|    2|
| HR|female|    1|
| IT|female|    3|
| HR|  male|    2|
+---+------+-----+