In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [3]:
row = Row('maheer', 2000)

print(row[0])

maheer

In [4]:
row1 = Row(name='maheer', salary=2000)
row2 = Row(name='wafa', salary=3000)

data=[row1, row2]

df = spark.createDataFrame(data)
df.show()

+------+------+
|  name|salary|
+------+------+
|maheer|  2000|
|  wafa|  3000|
+------+------+

In [5]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [6]:
Person = Row('name', 'age')

person1 = Person('maheer', 30)
person2 = Person('wafa', 25)

personDf = spark.createDataFrame([person1, person2])
personDf.show()

+------+---+
|  name|age|
+------+---+
|maheer| 30|
|  wafa| 25|
+------+---+