In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("show").getOrCreate()

In [5]:
data = [("Vidush", 1000), ("Kamal", 2000)]

schema = ["Name", "Salary"]

In [6]:
df = spark.createDataFrame(data, schema)

In [7]:
df.show()

+------+------+
|  Name|Salary|
+------+------+
|Vidush|  1000|
| Kamal|  2000|
+------+------+

In [8]:
df.show(truncate=False)

+------+------+
|Name  |Salary|
+------+------+
|Vidush|1000  |
|Kamal |2000  |
+------+------+