In [18]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("show").getOrCreate()

In [19]:
from pyspark.sql.functions import col, lit

In [20]:
data = [(1, 'Maheer', 3000),(2, 'Wafa', 4000)]

In [21]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType

In [22]:
schema = StructType(
            [StructField(name="id", dataType=IntegerType()),StructField(name="name", dataType=StringType()),StructField(name="salary", dataType=IntegerType())
            ])

In [23]:
df = spark.createDataFrame(data, schema)

In [25]:
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  2|  Wafa|  4000|
+---+------+------+