In [7]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [8]:
from pyspark.sql.functions import when

In [9]:
data = [(1, 'maheer', 'M', 2000, 'IT'),
       (2, 'wafa', 'M', 4000, 'HR'),
       (3, 'asi', 'F', 3000, 'Payroll'),
       (4, 'sarfaraj', 'M', 3000, 'HR')]

schema = ["id", "name", "gender", "salary", "dep"]

df1 = spark.createDataFrame(data, schema)
df2 = spark.createDataFrame(data, schema)

df1.show()
df2.show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

In [10]:
df3 = df1.unionAll(df2)

df3.show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+

In [11]:
df4 = df1.union(df2)

df4.show()

+---+--------+------+------+-------+
| id|    name|gender|salary|    dep|
+---+--------+------+------+-------+
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
|  1|  maheer|     M|  2000|     IT|
|  2|    wafa|     M|  4000|     HR|
|  3|     asi|     F|  3000|Payroll|
|  4|sarfaraj|     M|  3000|     HR|
+---+--------+------+------+-------+