In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data1 = [(1, 'maheer', 'male')]
schema1 = ['id', 'name', 'gender']

data2 = [(1, 'maheer', 2000)]
schema2 = ['id', 'name', 'salary']

df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)

df1.show()
df2.show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|maheer|  male|
+---+------+------+

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|maheer|  2000|
+---+------+------+

In [4]:
df1.union(df2).show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|maheer|  male|
|  1|maheer|  2000|
+---+------+------+

In [5]:
df1.unionByName(allowMissingColumns=True, other=df2).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|  male|  NULL|
|  1|maheer|  NULL|  2000|
+---+------+------+------+