In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [('IT', 8, 5),
        ('Payroll', 3, 2),
       ('HR', 3, 2)]

schema = ['dep', 'male', 'female']


df = spark.createDataFrame(data, schema)

df.show()

+-------+----+------+
|    dep|male|female|
+-------+----+------+
|     IT|   8|     5|
|Payroll|   3|     2|
|     HR|   3|     2|
+-------+----+------+

In [6]:
from pyspark.sql.functions import expr

In [7]:
df.select('dep', expr("stack(2, 'Male', male, 'Female', female) as (gender, count)")).show()

+-------+------+-----+
|    dep|gender|count|
+-------+------+-----+
|     IT|  Male|    8|
|     IT|Female|    5|
|Payroll|  Male|    3|
|Payroll|Female|    2|
|     HR|  Male|    3|
|     HR|Female|    2|
+-------+------+-----+