In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, ArrayType
from pyspark.sql.functions import col, lit, array, explode, map_keys, map_values
from pyspark.sql import Row

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import when

In [3]:
data = [(1, 'maheer', 'M', 2000),
       (2, 'Asif', 'F', 3000),
       (3, 'abcd', '', 2000)]

schema = ["id", "name", "gender", "salary"]

df = spark.createDataFrame(data, schema)

df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2|  Asif|     F|  3000|
|  3|  abcd|      |  2000|
+---+------+------+------+

In [4]:
df1 = df.select(df.id,
                df.name,
               when(condition=df.gender=='M', value='Male')\
               .when(condition=df.gender=='F', value='FeMale')\
                .otherwise('unknown').alias('gender'))

df1.show()

+---+------+-------+
| id|  name| gender|
+---+------+-------+
|  1|maheer|   Male|
|  2|  Asif| FeMale|
|  3|  abcd|unknown|
+---+------+-------+

In [6]:
df2 = df.withColumn('gender_details',when(condition=df.gender=='M', value='Male')\
               .when(condition=df.gender=='F', value='FeMale')\
                .otherwise('unknown'))

df2.show()

+---+------+------+------+--------------+
| id|  name|gender|salary|gender_details|
+---+------+------+------+--------------+
|  1|maheer|     M|  2000|          Male|
|  2|  Asif|     F|  3000|        FeMale|
|  3|  abcd|      |  2000|       unknown|
+---+------+------+------+--------------+