In [9]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("show").getOrCreate()

In [10]:
from pyspark.sql.functions import col, lit

In [11]:
data = [(1, 'Maheer', '3000'),(1, 'Wafa', '4000')]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

In [12]:
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  1|  Wafa|  4000|
+---+------+------+

In [13]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

### Change column datatype

In [14]:
df1 = df.withColumn("salary", col("salary").cast("Integer"))

In [15]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

### Change Values in a Column

In [16]:
df2 = df1.withColumn("salary", col("salary") * 2)
df2.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  6000|
|  1|  Wafa|  8000|
+---+------+------+

### Create new column

In [17]:
df2.withColumn('country', lit('india'))
df2.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  6000|
|  1|  Wafa|  8000|
+---+------+------+