In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("show").getOrCreate()

In [2]:
from pyspark.sql.functions import col, lit

In [3]:
data = [(1, 'Maheer', '3000'),(1, 'Wafa', '4000')]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)

In [4]:
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Maheer|  3000|
|  1|  Wafa|  4000|
+---+------+------+

In [5]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [6]:
df1 = df.withColumnRenamed('salary', 'salary_amount')

df1.show()

+---+------+-------------+
| id|  name|salary_amount|
+---+------+-------------+
|  1|Maheer|         3000|
|  1|  Wafa|         4000|
+---+------+-------------+