In [1]:
# Create Spark Session

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Pyspark Chapter 09").getOrCreate()

In [3]:
# Emp Data & Schema

emp_data_1 = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
]

emp_data_2 = [
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","Female","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

In [4]:
emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [6]:
emp_data_1_df = spark.createDataFrame(data=emp_data_1, schema=emp_schema)
emp_data_2_df = spark.createDataFrame(data=emp_data_2, schema=emp_schema)

In [7]:
emp_data_1_df.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
+-----------+-------------+-------------+---+------+------+----------+

In [8]:
emp_data_2_df.show()

+-----------+-------------+-----------+---+------+------+----------+
|employee_id|department_id|       name|age|gender|salary| hire_date|
+-----------+-------------+-----------+---+------+------+----------+
|        011|          104| David Park| 38|  Male| 65000|2015-11-01|
|        012|          105| Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|  Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|  Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|  Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|  Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-----------+---+------+------+----------+

In [9]:
emp_data_1_df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [10]:
emp_data_2_df.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [11]:
# UNION
emp_union = emp_data_1_df.union(emp_data_2_df)

In [12]:
emp_union.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [15]:
# Sort the data based on salary
# select * from emp order by salary desc
from pyspark.sql.functions import desc, asc, col

emp_sorted = emp_union.orderBy(emp_union.salary.desc())

emp_sorted.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        018|          104|    Nancy Liu| 29|Female| 50000|2017-06-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
+-----------+-------------+-------------+---+------+------+----------+

In [17]:
# Aggregation
# select dept_id, count(employee_id) as total_dept_count from emp_sorted group by dept_id
from pyspark.sql.functions import count

emp_count = emp_sorted.groupBy("department_id").agg(count("employee_id").alias("total_dept_count"))

emp_count.show()

+-------------+----------------+
|department_id|total_dept_count|
+-------------+----------------+
|          101|               3|
|          102|               4|
|          103|               4|
|          104|               3|
|          105|               2|
|          106|               2|
|          107|               2|
+-------------+----------------+

In [25]:
# Aggregation
# select dept_id, sum(salary) as total_dept_salary from emp_sorted group by dept_id
from pyspark.sql.functions import sum

emp_sum = emp_sorted.groupBy("department_id").agg(sum("salary").alias("total_dept_salary"))

emp_sum.show()

+-------------+-----------------+
|department_id|total_dept_salary|
+-------------+-----------------+
|          101|         165000.0|
|          107|          95000.0|
|          104|         162000.0|
|          102|         207000.0|
|          103|         232000.0|
|          106|         138000.0|
|          105|         111000.0|
+-------------+-----------------+

In [26]:
# Aggregation with having clause
# select dept_id, avg(salary) as avg_dept_salary from emp_sorted group by dept_id having avg(salary) > 50000
from pyspark.sql.functions import avg

emp_avg = emp_sorted.groupBy("department_id").agg(avg("salary").alias("avg_dept_salary")).where("avg_dept_salary > 50000")

emp_avg.show()

+-------------+---------------+
|department_id|avg_dept_salary|
+-------------+---------------+
|          101|        55000.0|
|          104|        54000.0|
|          102|        51750.0|
|          103|        58000.0|
|          106|        69000.0|
|          105|        55500.0|
+-------------+---------------+